# dev
.idea/
.vscode/
node_modules/
*.log

# test images & videos
*.jpg
*.png
*.mp4
example/basic/dist
example/vslam/dist

# lib
packages/builder/lib/
packages/builder/node_modules/
packages/ui/lib/
packages/ui/node_modules/
packages/server/lib/
packages/server/node_modules/
