# dev
.idea/
.vscode/
node_modules/
*.log

# test images & videos
*.jpg
*.png
*.mp4

# lib
packages/builder/lib/
packages/builder/node_modules/
packages/parser/lib/
packages/parser/node_modules/
packages/server/lib/
packages/server/node_modules/

# build
example/basic/src/server.js
